@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* background-color: #f9f6e6; */
}
marquee
{
    margin-top: 0rem;
    color: #d0ad6c;
    background-color: #1f1f1f;
    height: 30px;
    font-size: 25px;
}
header
{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #0c1813;
    /* margin-top: -1.5rem; */
}
nav
{
    margin-top: -2rem;
    margin-left: 16%;
}
nav div
{
    margin-right: 2rem;
}
nav select
{
    border: #0c1813;
    background-color: #0c1813;
    color: #d0ad6c;
}
header img
{
    margin-top: -2rem;
    margin-left: 35%;
}
header a
{
    margin-right: 2rem;
    color: #d0ad6c;
    text-decoration: none;
}
header nav
{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}
.dropdown 
{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    position: relative;
    display: inline-block;
}
.dropbtn 
{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    background-color: #0c1813;
    color: #d0ad6c;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.dropdown-content 
{
    font-size: 15px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}
.dropdown-content a 
{
    color: #d0ad6c;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover 
{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content 
{
    display: block;
}
.dropdown:hover .dropbtn 
{
    background-color: #0c1813;
}
.dropdown:hover .arrow
{
    opacity: 0;
    transition: 0.3s ease;
    transform: scale(1.1);
}
#carousel {
    margin-left: -7rem;
    width: 1550px;
    /* right: 5rem; */
    /* margin: 1rem; */
}

#carousel span {
    margin-top: 8.9rem;
}

.carousel-control-prev span {
    margin-right: 5rem;
}

.carousel-control-next span {
    margin-left: 5rem;
}
.container img
{
    margin-top: 8.5rem;
    height: 550px;
    width: 100%;
}
section h1
{
    margin-top: 2rem;
    text-align: center;
}
.cards
{
    
    margin: 3rem 5rem 5rem 5rem;
    display: flex;
    /* border: 2px solid black; */
}
.sub-cards
{
    margin-top: 9rem;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 0px 1rem;
    padding: 5px;
}
.sub-cards:hover
{
    transform: scale(1.1);
    transition: 1s ease;
    border: 3px solid #d0ad6c;
    box-shadow: 0px 0px 20px #d0ad6c;
}
.sub-cards h1
{
    margin-top: 7rem;
}
.sub-cards button
{
    background-color: green;
    margin-top: 1rem;
    font-size: 20px;
    margin-bottom: 25px;
    /* border: 2px solid black; */
    padding: 10px;
    border-color: white;
}
.sub-cards button:hover
{
    color: #d0ad6c;
}
.sub-cards img 
{
    margin-top: 0rem;
    height: 200px;
}
.categories
{
    
    margin: 3rem 2rem 5rem 2rem;
    display: flex;
    /* border: 2px solid black; */
}
.sub-cate
{
    /* border: 3px solid black; */
    margin: 0rem 1rem 0rem 0.5rem;
    text-align: center;
    color: #d0ad6c;
}
.sub-cate img
{
    height: 250px;
    width: 220px;
    margin: 0rem 
}
.lastimg
{
    margin-top: 1rem;
    margin-left: 2.5%;
    height: 550px;
    width: 95%;
}
.videos
{
    margin:3rem 0rem 0rem 2rem;
}
section p
{
    margin-top: 2rem;
    font-size: 30px;
    font-weight: 700;
    color: #d0ad6c;
    text-align: center;
}
footer
{
    margin: 0rem;
    background-color: #0c1813;
    margin-bottom: -2rem;
}
.last
{
    margin: 0rem 2rem 0rem 2rem;
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    text-align: start;
    text-decoration: none;
    color: #d0ad6c;
}
/* footer div
{
    border: 2px solid orange;
} */
.foot
{
    height: 350px;
    width: 350px;
}
.foot div
{
    margin-top: 3rem;
    font-size: 20px;
    margin-bottom: 1rem;
}
.foot a
{
    margin-left: 2rem;
    color: #d0ad6c;
    text-decoration: none;
}
.foot input
{
    margin-left: 1rem;
    margin-top: 2rem;
    background-color: #0c1813;
    font-size: 20px;
    border-bottom: 2px solid white;
}
footer h3
{
    margin-bottom: 2rem;
    color: white;
    text-align: center;
}
.last i
{
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
}

/* House Of Denver */

.cards2
{
    margin: 3rem 5rem 5rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    /* border: 2px solid black; */
}
.sub-cards2
{
    /* margin-top: 9rem; */
    border: 3px solid black;
    /* border-radius: 10px; */
    text-align: center;
    /* margin: 0px 1rem; */
    padding: 5px;
    height: 500px;
    width: 300px;
    background-color: rgb(238, 223, 205);
}
.sub-cards2:hover
{
    /* transform: scale(1.1); */
    /* transition: 1s ease; */
    border: 3px solid #d0ad6c;
    box-shadow: 0px 0px 20px #d0ad6c;
}
.sub-cards2 h1
{
    margin-top: 7rem;
}
.sub-cards2 button
{
    background-color: green;
    margin-top: 1rem;
    font-size: 20px;
    margin-bottom: 25px;
    /* border: 2px solid black; */
    padding: 10px;
    border-color: white;
}
.sub-cards2 button:hover
{
    color: #d0ad6c;
}
.sub-cards2 img 
{
    margin-top: 0rem;
    height: 250px;
    width: 286px;
}
.houseofdenverhead
{
    margin-top: -3rem;
}
.cards2
{
    position: relative;
    top: 10rem;
}
.houseofdenverfoot
{
    margin-top: 15rem;
    margin-bottom: -2rem;
}
